@import "tailwindcss";
@plugin "daisyui";



body {
  font-family: Arial, Helvetica, sans-serif;
  background:  linear-gradient( rgb(8, 13, 6) , rgb(13, 13, 33),  rgb(54, 80, 76) );
  color: rgba(245, 245, 245, 0.936);
}
